<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Unknown</string>
	<key>Buffer Order</key>
	<array>
		<string>Sha1</string>
		<string>Sha1_2</string>
		<string>Main</string>
		<string>URLcallbacks</string>
		<string>Request</string>
		<string>Dialog</string>
		<string>Folder</string>
		<string>Folder2</string>
		<string>Repository</string>
		<string>CodeBox</string>
		<string>Tests</string>
		<string>MD5</string>
		<string>Digest</string>
	</array>
	<key>Dependencies</key>
	<array>
		<string>CiderControls7</string>
	</array>
	<key>Description</key>
	<string>No description available</string>
	<key>Icon</key>
	<string>Icon.png</string>
</dict>
</plist>
